
* {
    margin: 0;
}

.header-img {
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: ;
    box-shadow: 0 7px 17px 0 rgba(0,0,0,.04);
    margin: o auto;
}

.header {
    text-align: center;
    margin-top: 3vw;
    margin: 0 auto;
    box-shadow: 0 7px 17px 0 rgba(0,0,0,.04);
    filter: drop-shadow(1px 2px 3px gray);
    
}

.navbar {
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-link {
    text-align: center;
    padding: 14px 0;
    line-height: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.navbar-div {
    width: 100%;
    background-color: #8d7d68;
    border-radius: 1vw;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 7px 17px 0 rgba(0,0,0,.04);
    height: 0rem;
}

.site_photos {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: ;
    filter: drop-shadow(1px 1px 2px gray);
    padding-bottom: 1rem;


}

.font-in {
    font-family: Cardo;
    font-weight: 400;
    font-size: 1rem;
}

.font {
    font-family: Cardo;
    font-weight: 400;
    font-style: italic;
}
